# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
.venv/
.env/

# VS Code
.vscode/

# Build
build/
dist/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Data
/data/
*.laz
*.las
